/* ****************************************************************** */
/* ********************                          ******************** */
/* *******************  Styles by Bamio Ezequiel  ******************* */
/* ********************                          ******************** */
/* ****************************************************************** */

/* 
.class {
    * Positioning
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    * Box-model
    display: block;
    float: right;
    width: 100px;
    height: 100px;
    
    * Typography 
    font: normal 13px "Helvetica Neue", sans-serif;
    line-height: 1.5;
    color: #333;
    text-align: center;

    * Visual
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 3px;

    * Misc
    box-shadow: 0 0 4px 0;
} 
*/

/* ******************** 
    Custom Properties
   ******************** */

:root {
    --color-primary: #F5C016;
    --color-primary-bg: #f6cc07;
    --color-secondary: rgb(255, 202, 43, 0.75);
    --color-dark-primary: #101010;
    --color-dark-secondary: #1c1e24;
    --color-black-opacity: rgba(0, 0, 0, 0.5);
    --color-white: #fff;
    --color-gray-light: #ebeef2;
    --color-gray-dark: #666;
    --color-gray: #ccc;
    --color-title: #333;
    --color-text: #222;
    --link-color: #509ee3;
    --font: 'Outfit', sans-serif;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 24px;
    --container-sm: 780px;
    --container-md: 992px;
    --container-lg: 1200px;
}

/* ******************** 
    Reset
   ******************** */

html {
    box-sizing: border-box;  
    font-size: 16px;
    font-family: var(--font);
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* ******************** 
    Selectores
   ******************** */

body {
    margin: 0;
    color: var(--color-text);
    overflow-x: hidden;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

/* ******************** Typography ******************** */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5em 0;
    font-weight: 900;
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
}
  
h2 {
    font-size: 1.5rem;
}
  
h3 {
    font-size: 1.25rem;
}
  
h4 {
    font-size: 1rem;
}
  
h5 {
    font-size: 0.85rem;
}
  
h6 {
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}
  
p {
    line-height: 1.6;
}
  
hr {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #eeeef7;
}

   
/* ******************** 
    Components
   ******************** */

.poster {
    display: inline;
    background-color: var(--color-dark-primary);
    color: var(--color-primary);
    box-shadow: 5px 5px 0 2px var(--color-primary);
}

/* ******************** Sections ******************** */

.section-title {
    border-top: medium solid var(--color-primary);
    border-bottom: medium solid var(--color-primary);
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    width: 250px;
    font-size: 2rem;
    text-align: center;
    color: var(--title-color) 
}

/* ******************** Buttons ******************** */

.btn {
    display: inline-block;
    width: 200px;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-dark-primary);
    background-color: var(--color-primary);
    border-radius: 0.5rem;
}

/* ******************** Card ******************** */

.card h3 {
    font-size: 1.5em;
}

.card div {
    padding: 0 2vw;
}

.card img {
    height: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    height: 150;
}

.cards-container-3 {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
}

/* ******************** 
    Utilities
   ******************** */

.container {
    margin-right: auto;
    margin-left: auto;
}

.container-lg,
.container-md,
.container-sm {
    width: var(--container-sm);
    margin-right: auto;
    margin-left: auto;
}

.container-md {
    width: var(--container-md);
}

.container-lg {
    width: var(--container-lg);
}

.full-lg-screen {
    width: 100%;
    height: 100vh;
}

.full-screen-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.full-width-screen-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* min-height: 100vh; */
    height: auto;
}

/* ******************** Flex ******************** */

.flex-row-around-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-row-around {
    display: flex;
    justify-content: space-around;
}

.flex-column-around-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-row-evenly-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-column-evenly-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flex-row-around {
    display: flex;
    justify-content: space-around;
}

.flex-grid-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-grid-center > * {
    flex: 1 1 320px;
}

/* ********************  ******************** */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.bg-gray-light {
    background-color: var(--color-gray-light);
    color: var(--color-dark-primary);
}

.bg-dark {
    background-color: var(--color-dark-primary);
    color: var(--color-gray-light);
}

/* ******************** 
    Site Styles
   ******************** */

/* ******************** Header ******************** */

.header {
    position: sticky;
    top: -0.15rem;
    z-index: 999;
    width: 100%;
    text-align: center;
    background-color: var(--color-dark-primary);
    box-shadow: 0 0 4px 0;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--color-dark-primary);
}

.header a {
    color: var(--color-white);
}

.header a:hover {
    box-shadow: none;
}

.nav-logo {
    margin-right: auto;
    margin-left: 170px;
}

.nav-logo a {
    color: var(--color-primary);
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 60%;
    width: 60%;
}

/* ******************** Header ******************** */

.hero {
    width: 100%;
    height: 30vh;
}

/* ******************** Contacto ******************** */

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    margin: 2rem auto;
    padding: 1rem;
}

.contact-form > * {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: 1rem auto;
}

.contact-form input,
.contact-form textarea {
    font-size: 0.85rem;
}

.contact-form input {
    padding-left: 0;
    border: 0;
    border-bottom: thin solid var(--color-gray-dark);
}

.contact-form textarea {
    grid-column: span 2;
    border-bottom: thin solid var(--color-gray-dark);
    resize: none;
}

.contact-form input[type="submit"] {
    margin-top: 0;
    margin-left: 0;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    opacity: 0.75;
}

.contact-form *::placeholder {
    color: var(--color-gray-dark);
}

.social-media > * {
    margin-right: 10px;
    padding: 1px;
    border: thin solid var(--color-white);
    border-top: none;
}

/* ******************** CV ******************** */

.cv-index {
    position: sticky;
    z-index: 998;
    top: 3rem;
    float: left;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 100vh;
    padding-top: 2.5rem;
    background-color: var(--color-dark-primary);
}

.cv-index a {
    margin: 30px 10px;
    font-size: 1.5em;
}

.cv, 
.section {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cv-avatar img {
    display: block;
    width: calc(100px * 2.5);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    background-color: var(--color-primary-bg);
  }

.cv-nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--color-dark-primary);
    opacity: 0.9;
}

.cv h1 {
    font-weight: 900;
}

.cv h2 {
    font-size: 2.3em;
}

.cv p,
.cv ul li {
    font-size: 2em;
}

/* ******************** Footer ******************** */

.footer {
    margin-bottom: 0;
    padding: 0.5rem;
    text-align: center;
    background-color: #12121205;
    color: #1212127A;
}

